<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Eliminar Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">NOTICIAS DE AYER</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="http://localhost:8080/home">Home</a>
                            <a class="nav-link" href="http://localhost:8080/noticia/lista">NOTICIAS</a>
                            <a class="nav-link" href="http://localhost:8080/noticia/registrar">NUEVA</a>
                            <a class="nav-link" href="http://localhost:8080/noticia/modificar">EDITAR/ELIMINAR</a>
                            <form class="d-flex" th:action="@{/buscar}" method="get">
                                <input class="form-control me-2" name="palabra" type="text" placeholder="Buscar" aria-label="Buscar">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <h1>PORTADA NOTICIAS DE AYER</h1>
    </body>
</html>
